body {
    background-color: black;
    font-family: 'Electrolize', sans-serif;
}

.navbar {
    background-color: black;
}

a.nav-link {
    color: #fee71e;
}

a.nav-link:hover {
    color: silver;
}

.titulo {
    color: #fee71e;
}

.card {
    color: white;
    background-color: #312f2f;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23080113' fill-opacity='0.46' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.card-footer {
    background-color: inherit;
    border-top: none;
}

#controlButtons {
    width: 120px;
}

span {
    color: silver;
    font-weight: 900;
}

.fa-trash:hover {
    color: red;
    cursor: pointer;
}

.fav:hover{
    color: orangered
}